# hduofhsijdhojhfobh

### Print Hello World

### ndjfjhkjdfpkhjspdfjhop

In [1]:
print("Hello World")

Hello World

In [2]:
print("Premlatha")

Premlatha

In [3]:
print("DataScience")

DataScience

### Variables

In [4]:
name="Latha"
Age=35
Income=100000

In [6]:
print(name)
print(Age)
print(Income)

Latha
35
100000

In [8]:
namelist="Latha","Prema"
namelist

('Latha', 'Prema')

In [9]:
name list="Latha","Prema"
name list

SyntaxError: invalid syntax (3963117976.py, line 1)

##### Space is not allowed

In [10]:
2namelist="Latha","Prema"
2namelist

SyntaxError: invalid decimal literal (3055259423.py, line 1)

##### Variable name should not start with a number

In [11]:
n2amelist="Latha","Prema"
n2amelist

('Latha', 'Prema')

In [13]:
name+list="Latha","Prema"
name+list

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (393011545.py, line 1)

In [14]:
name_list="Latha","Prema"
name_list

('Latha', 'Prema')

##### The only allowed spl character is underscore

##### Variable name should start with A-Z,a-z or underscore

In [17]:
name="ai"

type(name)

str

In [18]:
x=10
type(x)

int

In [19]:
x=10.7
type(x)

float

In [20]:
x=True
type(x)

bool

In [21]:
y=False
type(y)

bool

In [22]:
y=true
type(y)

NameError: name 'true' is not defined

###### Python is case-sensitive

In [23]:
z="True"
type(z)

str

In [24]:
z='True'
type(z)

str

#### Implicit conversion

In [31]:
x=10
y=2
x/y

5.0

In [32]:
x=10
y="ds"
x+y

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [36]:
x=10.5
y="10"
x+y

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [37]:
x=10.5
y="10"
x+int(y)

20.5

In [34]:
x="ds"
y="da"
x+y

'dsda'

In [35]:
x=10
y=10.4
x+y

20.4

In [ ]:
int -> float
int->string
float->int
float->str
str->int
str->float

In [43]:
x="hi"
int(x)

ValueError: invalid literal for int() with base 10: 'hi'

In [44]:
x="hi"
float(x)

ValueError: could not convert string to float: 'hi'